@using System.Security.Claims

@{
    ViewData["Title"] = "Counter";
    var userName = User.GetUserName();
}

<div id="root"></div>

<script type="text/javascript">
    window.initialData = {
        entities: {
            users: {
                '@userName' : {
                    userName: '@userName'
                }
            }
        },
        user: '@userName'
    }
</script>